# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
DATABASE_URL=
DB_SCHEMA=

# Application
APP_PORT=
APP_HOST=
SOURCE_FILE_DIR=
ISOBMFF_DIR=
USER_VIRTVID_TMP_DIR=
MP4EXTRACT_PATH=
MP4DUMP_PATH=
MP4INFO_PATH=
APP_URL=

# AI (Google Generative AI)
GOOGLE_AI_KEY=
GOOGLE_AI_EMBEDDING_MODEL=
GOOGLE_AI_GENERATIVE_MODEL=
GOOGLE_AI_AUDIO_MODEL=
AI_API_MAX_RETRIES=
AI_API_RETRY_AFTER_DELAY=
SEARCH_PHRASE_COUNT=
